MetaProject/cocos2dx/platform/ouya/java/bin
MetaProject/cocos2dx/platform/ouya/java/gen
MetaProject/projects/HelloCpp/proj.ouya/assets
MetaProject/projects/HelloCpp/proj.ouya/bin
MetaProject/projects/HelloCpp/proj.ouya/gen
MetaProject/projects/HelloCpp/proj.ouya/obj
MetaProject/cocos2dx/platform/android/java/bin
MetaProject/cocos2dx/platform/android/java/gen
MetaProject/projects/HelloCpp/proj.android/assets
MetaProject/projects/HelloCpp/proj.android/bin
MetaProject/projects/HelloCpp/proj.android/gen
MetaProject/projects/HelloCpp/proj.android/obj
MetaProject/projects/HelloCpp/proj.android/libs/armeabi
MetaProject/projects/HelloCpp/proj.ouya/libs/armeabi
MetaProject/project/proj.ios/LevireTemplate.xcodeproj/xcuserdata
MetaProject/project/proj.ouya/assets
MetaProject/project/proj.ouya/bin
MetaProject/project/proj.ouya/gen
MetaProject/project/proj.ouya/libs/armeabi
MetaProject/project/proj.ouya/obj
MetaProject/project/proj.mac/LevireTemplate.xcodeproj/xcuserdata/Wolf.xcuserdatad/xcschemes/HelloCpp.xcscheme
MetaProject/project/proj.ios/LevireTemplate.xcodeproj/project.xcworkspace/xcuserdata/Wolf.xcuserdatad/UserInterfaceState.xcuserstate
MetaProject/project/proj.mac/LevireTemplate.xcodeproj/project.xcworkspace/xcuserdata/Wolf.xcuserdatad/UserInterfaceState.xcuserstate
MetaProject/project/proj.ios/LevireTemplate.xcodeproj/project.xcworkspace/xcuserdata/Wolf.xcuserdatad/WorkspaceSettings.xcsettings
MetaProject/project/proj.mac/LevireTemplate.xcodeproj/project.xcworkspace/xcuserdata/Wolf.xcuserdatad/WorkspaceSettings.xcsettings
MetaProject/cocos2dx/proj.mac/cocos2dx.xcodeproj/xcuserdata/Wolf.xcuserdatad/xcschemes/cocos2dx.xcscheme
MetaProject/project/proj.ios/LevireTemplate.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MetaProject/project/proj.mac/LevireTemplate.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MetaProject/cocos2dx/proj.mac/cocos2dx.xcodeproj/xcuserdata/Wolf.xcuserdatad/xcschemes/xcschememanagement.plist
MetaProject/project/proj.mac/LevireTemplate.xcodeproj/xcuserdata/Wolf.xcuserdatad/xcschemes/xcschememanagement.plist
UserInterfaceState.xcuserstate
