MetaProject/cocos2dx/platform/ouya/java/bin
MetaProject/cocos2dx/platform/ouya/java/gen
MetaProject/cocos2dx/platform/android/java/bin
MetaProject/cocos2dx/platform/android/java/gen
MetaProject/project/proj.ouya/assets
MetaProject/project/proj.ouya/bin
MetaProject/project/proj.ouya/gen
MetaProject/project/proj.ouya/libs/armeabi
MetaProject/project/proj.ouya/obj
MetaProject/project/proj.android/assets
MetaProject/project/proj.android/bin
MetaProject/project/proj.android/gen
MetaProject/project/proj.android/obj
MetaProject/project/proj.android/libs/armeabi
MetaProject/project/proj.ios/LevireTemplate.xcodeproj/xcuserdata
MetaProject/project/proj.ios/LevireTemplate.xcodeproj/project.xcworkspace/xcuserdata
MetaProject/project/proj.mac/LevireTemplate.xcodeproj/xcuserdata
MetaProject/project/proj.mac/LevireTemplate.xcodeproj/project.xcworkspace/xcuserdata
MetaProject/cocos2dx/proj.ios/cocos2dx.xcodeproj/xcuserdata
MetaProject/cocos2dx/proj.ios/cocos2dx.xcodeproj/project.xcworkspace/xcuserdata
MetaProject/cocos2dx/proj.mac/cocos2dx.xcodeproj/xcuserdata
MetaProject/cocos2dx/proj.mac/cocos2dx.xcodeproj/project.xcworkspace/xcuserdata
MetaProject/gmock/gtest/xcode/gtest-ios.xcodeproj/xcuserdata
MetaProject/gmock/gtest/xcode/gtest-ios.xcodeproj/project.xcworkspace/xcuserdata
MetaProject/gmock/gtest/xcode/gtest-mac.xcodeproj/xcuserdata
MetaProject/gmock/gtest/xcode/gtest-mac.xcodeproj/project.xcworkspace/xcuserdata
*.xcworkspacedata